<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agendapp.agendapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/agenda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->

        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmAgenda">
            <intent-filter>
                <action android:name="com.agendapp.agendapp.AGENDA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:screenOrientation="portrait"
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Main5Activity"
            android:label="@string/title_activity_main5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Main6Activity"
            android:label="@string/title_activity_main6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Main7Activity"
            android:label="@string/title_activity_main7"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>
